/* this is a custom CSS stylesheet */
div.container {
	/*background: url(../img/warehouse.jpg) no-repeat;
	background-size: 50%;*/
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	color: #696969;
	background-color: rgba(255, 255, 255, .7);	/*background: url(../img/lines.jpg);
	background-repeat: repeat-x repeat-y;*/
	margin-top: 10%;
	margin-bottom: 10%;
	padding-bottom: 40px;
}

.col-centered {
    float: none;
    margin: auto;
}

.welcome img {
	width: 100%;

	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

p.image img {
	width: 100%;
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

body {
	background: url(../img/cross.jpg);
	background-repeat: repeat-x repeat-y;
}

.little-head {
margin-bottom: -30px;
margin-left: 13px;
margin-top: 40px;
}

div.first {
	margin-top: 30px;
}

.nav-tabs li.active a {
	background-color: rgba(255, 255, 255, .5);
}

h1 {
/*font-size: 3em;*/
	margin-bottom: 50px; 
}

.container {
	padding-left: 25px;
	padding-right: 25px;
}